apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "eclair.fullname" . }}
  labels:
    app: {{ template "eclair.name" . }}
    chart: {{ template "eclair.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ template "eclair.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "eclair.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ template "eclair.fullname" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
          args:
            {{- toYaml .Values.args | nindent 12 }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          ports:
            - name: rpc
              containerPort: {{ .Values.internalServices.rpcPort }}
            - name: p2p
              containerPort: {{ .Values.externalServices.p2pPort }}
          volumeMounts:
            - name: data
              mountPath: /data
            - name: config
              mountPath: /root/.eclair
          lifecycle:
            preStop:
              exec:
                # Make sure we safely quit eclair so we don't corrupt
                # anything, todo
                command: ["echo stopped"]
      volumes:
        - name: data
        {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (include "eclair.fullname" .) }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        - name: config
          configMap:
            name: {{ template "eclair.fullname" . }}-config
