apiVersion: v1
kind: Service
metadata:
  name: {{ template "lnd.fullname" . }}-internal
  labels:
    app: {{ template "lnd.name" . }}
    chart: {{ template "lnd.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ports:
    - name: rpc
      port: {{ .Values.internalServices.rpcPort }}
      targetPort: rpc
    - name: rest
      port: {{ .Values.internalServices.restPort }}
      targetPort: rest
    - name: prometheus
      port: {{ .Values.internalServices.prometheusPort }}
      targetPort: prometheus
  selector:
    app: {{ template "lnd.name" . }}
    release: {{ .Release.Name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "lnd.fullname" . }}-external
  labels:
    app: {{ template "lnd.name" . }}
    chart: {{ template "lnd.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: {{ .Values.externalServices.type }}
  ports:
    - name: p2p
      port: {{ .Values.externalServices.p2pPort }}
      targetPort: p2p
  selector:
    app: {{ template "lnd.name" . }}
    release: {{ .Release.Name }}
---
{{- if .Values.rtl.enable -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "lnd.fullname" . }}-rtl
  labels:
    app: {{ template "lnd.name" . }}-rtl
    chart: {{ template "lnd.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ports:
    - name: http
      port: {{ .Values.rtl.port }}
      targetPort: 3000
  selector:
    app: {{ template "lnd.name" . }}-rtl
    release: {{ .Release.Name }}
  {{- end }}
---
{{- if .Values.lndmon.enable -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "lnd.fullname" . }}-lndmon
  labels:
    app: {{ template "lnd.name" . }}-lndmon
    chart: {{ template "lnd.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ports:
    - name: http
      port: {{ .Values.lndmon.port }}
      targetPort: lndmon
  selector:
    app: {{ template "lnd.name" . }}-lndmon
    release: {{ .Release.Name }}
  {{- end }}