# Default values for bitcoind.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: btcpayserver/lnd
  tag: v0.14.1-beta
  pullPolicy: IfNotPresent

# Ports that are exposed to other pods in your cluster
internalServices:
  rpcPort: 10009
  restPort: 8080
  prometheusPort: 8989

# Ingress for REST API and GRPC interface
# only on test clusters eg. regtest
# Not for production!
ingress:
  rest:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/enable-cors: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    hosts:
      - host: lnd.dev.flitz.be
        paths:
          - path: /
            port: 8080
    tls:
      - hosts:
          - lnd.dev.flitz.be
        secretName: lnd-tls-secret
  rpc:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/enable-cors: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "GRPCS"
    hosts:
      - host: rpc.lnd.dev.flitz.be
        paths:
          - path: /
            port: 10009
    tls:
      - hosts:
          - rpc.lnd.dev.flitz.be
        secretName: lnd-rpc-tls-secret
  rtl:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/enable-cors: "true"
    hosts:
      - host: rtl.lnd.dev.flitz.be
        paths:
          - path: /
            port: 3000
    tls:
      - hosts:
          - rtl.lnd.dev.flitz.be
        secretName: lnd-rtl-tls-secret

# Ports that are visible outside your cluster
externalServices:
  p2pPort: 9735
  type: LoadBalancer

persistence:
  enabled: true
  ## database data Persistent Volume Storage Class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  # storageClass: "-"
  accessMode: ReadWriteOnce
  size: 5Gi

## Configure resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
##
resources:
  requests:
    memory: 512Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 200m

# The network lnd is running on
network: testnet
# network: mainnet

# Custom lnd configuration file used to override default lnd settings
configurationFile:
  lnd.conf: |-
    bitcoin.active=1
    bitcoin.mainnet=0
    bitcoin.testnet=1
    debuglevel=info
    bitcoin.node=neutrino
    neutrino.addpeer=faucet.lightning.community
    neutrino.addpeer=lnd.bitrefill.com:18333
    rpclisten=0.0.0.0:10009
    tlsextradomain=nodes-lnd-internal.nodes
    tlsextradomain=lnd.dev.flitz.be
    tlsextraip=0.0.0.0
    protocol.wumbo-channels=1
    prometheus.enable=false
    prometheus.listen=0.0.0.0:8989
#    wallet-unlock-password-file=/passwords/wallet_password
autoUnlock: false
autoUnlockPassword: password

lit:
  enable: false
  port: 8443
  password: password
  network: regtest
  macaroonPath: /root/.lnd/data/chain/bitcoin/regtest/admin.macaroon
  tlsCertPath: /root/.lnd/tls.cert
  sleep: 30
  image:
    repository: ghcr.io/flitz-be/lightning-terminal
    tag: master-cd072d9
rtl:
  enable: false
  port: 3000
  config:
    RTL-Config.json: |-
      {
        "multiPass": "password",
        "port": "3000",
        "defaultNodeIndex": 1,
        "SSO": {
          "rtlSSO": 0,
        },
        "nodes": [
          {
            "index": 1,
            "lnNode": "Node 1",
            "lnImplementation": "LND",
            "Authentication": {
              "macaroonPath": "/root/nodes/macaroon-1.macaroon",
              "lnServerUrl": "https://lnd-1:8080",
            },
            "Settings": {}
          }
        ]
      }
  nodeMacaroonSecret: rtl-nodes
  image:
    repository: shahanafarooqui/rtl
    tag: 0.12.2
lndmon:
  enable: false
  port: 9092
  listenaddr: 0.0.0.0:9092
  macaroonDir: /root/
  tlsPath: /root/tls.cert
  lndNetwork: regtest
  lndHost: your-lnd-host:10009
  secretName: your-lnd-credentials-secret
  image:
    repository: lnzap/lndmon
    tag: 0.1.0-zap.2
lndbackup:
  enable: false
  sleep: 30
  env:
    MACAROON_PATH: /root/.lnd/data/chain/bitcoin/regtest
    TLS_CERT_PATH: /root/.lnd/tls.cert
    NETWORK: regtest
    BUCKET_URL: s3://bucket-url/sub/folder
    S3_REGION: eu-central-1
  secrets:
    S3_KEY:
      secretName: s3-credentials
      secretKey: key
    S3_SECRET:
      secretName: s3-credentials
      secretKey: secret
  image:
    repository: ghcr.io/flitz-be/lndbackup
    tag: 1.0.0